*{
    font-family: Verdana;
}
body{
    background: linear-gradient( Teal, AliceBlue);
    color: white;
    text-align: center;
    margin: 0 20px 0 20px;
}
img{
    width: 100%;
    display: block;
    z-index: -1;
    margin-top: 70px;
    position: absolute;
    left: 0;
}
a{
    font-size: 130%;
    padding: 30px;
    color: white;
}
header{
    background-color: rgb(160, 82, 45, 0.8);
    padding: 10px;
    margin-top: 100px;
    border-radius: 15px 15px 0 0;
}
main{
    background-color: sandybrown;
    padding: 30px;
}
footer{
    background-color: sienna;
    padding: 30px;
    border-radius: 0 0 15px 15px;
}
h1{
    text-shadow: 2px 2px 5px black;
}
table{
    margin: auto;
    width: 70%;
    background-color: sienna;
}
table, th, td{
    border: solid 1px sandybrown;
    border-collapse: collapse;
}
